{% extends 'base.html' %}
{% load static %}
{% block content%}

<h1>Log Dive to Database</h1>
<! link to css stylesheet>
<link rel ="stylesheet" type="text/css" href="{% static '\\css\\main.css' %}">

<div class="card">
    <div class="container">


        <form action="/action_page.php">

            <label for="Date">Date:</label><br>
            <input type="date" id="fname" name="fname" value=""><br><br>

            <label for="Dive Time">Dive Time:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>

            <label for="Max Depth">Max Depth:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>

            <label for="Average Depth">Average Depth:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>

            <label for="O2 %%">O2 %:</label><br>
            <select id="rev" name="rev">
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
            </select><br><br>
            

            <label for="Air In">Air In (bar):</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>

            <label for="Air Out">Air Out (bar):</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>

            <label for="Cylinder Type">Cylinder:</label><br>
            <select id="mat" name="mat">
                <option value="7 litre steel 300bar">7 litre steel 300bar</option>
                <option value="10 litre Steel 230bar">10 litre Steel 230bar</option>
                <option value="12 litre Steel 230bar">12 litre Steel 230bar</option>
                <option value="15 litre Steel 230bar">15 litre Steel 230bar</option>
                <option value="11.1 litre Aluminium (80cf) 200bar">11.1 litre Aluminium (80cf) 200bar</option>
                <option value="13.3 litre Aluminium (100cf) 200bar">13.3 litre Aluminium (100cf) 200bar</option>
                <option value="Twin 7 litre steel 300bar">Twin 7 litre steel 300bar</option>
                <option value="Twin 12 litre steel 230bar">Twin 12 litre steel 230bar</option>
                <option value="Twin 15 litre steel 230bar">Twin 15 litre steel 230bar</option>

            </select><br><br>

            <label for="Manufacturer Number">Manufacturer Number:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>

            <label for="Thickness">Thickness:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>
            <input type="submit" value="Submit">
        </form> 

    </div>
</div>
{% endblock content %}
